@using WebClient.Controllers;
@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="get" class="card">
    <a class="card-header text-decoration-none" data-bs-toggle="collapse" href="#searchArticle" role="button">
        <h3>Search</h3>
    </a>

    <div class="card-body p-0" id="searchArticle">
        <div class="mb-3 px-3 pt-3">
            <label class="form-label">Title</label>
            <input class="form-control" name="title" value="@Model.Title">
        </div>
        
        <div class="mb-3 p-3">
            <select class="form-select" name="searchType">
                <option value="1" selected="@(Model.SearchType == 1)">Classic</option>
                <option value="2" selected="@(Model.SearchType == 2)">Basic</option>
                <option value="3" selected="@(Model.SearchType == 3)">Advanced</option>
                <option value="4" selected="@(Model.SearchType == 4)">Fluent</option>
            </select>
        </div>

        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">SEARCH</button>
        </div>
    </div>
</form>

<form asp-controller="Home" asp-action="Index" method="post" class="card mt-3">
    <a class="card-header text-decoration-none" data-bs-toggle="collapse" href="#addArticle" role="button">
        <h3>Add new article</h3>
    </a>

    <div class="card-body p-0 collapse" id="addArticle">
        <div class="mb-3 px-3 pt-3">
            <label class="form-label">Title</label>
            <input class="form-control" name="Title">
        </div>
        <div class="mb-3 px-3">
            <label class="form-label">Tag</label>
            <select class="form-select" name="Tag">
                <option selected>-- Select --</option>
                @foreach(TagDTO tag in Model.Tags)
                {
                    <option value="@tag.Id">@tag.Name</option>
                }
            </select>
        </div>

        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">INSERT</button>
        </div>
    </div>
</form>


<h2 class="text-center py-5">Articles found (@Model.Articles.Count)</h2>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Slug</th>
            <th>CreatedOn</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Article article in Model.Articles)
        {
            <tr>
                <td>@article.Id</td>
                <td>@article.Title</td>
                <td>@article.Slug</td>
                <td>@article.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>
